.hero-container {
  height: 66vh;
  width: 98vw;
  display: flex;
  flex-direction: row;
  word-wrap: no-wrap;
}

.hero-intro {
  height: 5.65vh;
  width: 50vw;
  /* flex-shrink: 1; */
  margin: 10vh 5vw;
}

.hero-intro h1 {
  color: var(--Black, #000);

  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  margin: 2vh 0;
}

.hero-intro h1 .hobby {
  color: var(--Blue1, #0096c8);
}
.hero-intro h1 .passion {
  color: var(--Primary-Full, #8064a2);
}

.hero-intro p {
  color: var(--Base-Black, var(--Black, #000));

  /* Text sm/Light */

  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.28px;
  margin-top: 0.5vh;
}

.hero-image {
  display: flex;
  justify-content: space-between;
  height: 21vh;
}
.hero-image-2 {
  display: none;
  justify-content: space-between;
  height: 21vh;
}

.hero-signin {
  box-sizing: border-box;
  width: 41vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10vh 1.5vw;
}

.hero-signin .sign-join {
  display: flex;
  justify-content: space-between;
  width: 16.3vw;
  color: #939ca3;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2vh;
}

.hero-signin .sign-join .grey {
  color: var(--Primary-Full, #8064a2);
}

.hero-btn {
  display: flex;
  height: 2.4vh;
  width: 68%;
  padding: 12px 8.2vw 12px 24px;
  align-items: center;
  gap: 8.4vw;
  border-radius: 8px;
  border: 1px solid var(--Primary-Full, #8064a2);
  background: var(--Purple-3, #f7f5f9);
  margin-bottom: 2vh;
}

.hero-btn img {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}
.hero-btn p {
  color: var(--Grey-Darkest, #08090a);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.hero-signin .connect {
  width: 96.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.hero-signin .connect .line {
  background: var(--Grey-Light, #ced4da);
  height: 2px;
  width: 12.5vw;
}

.hero-signin .connect p {
  color: var(--Base-Black, var(--Black, #000));

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.hero-signin input {
  padding: 12px 115px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Grey-Lighter, #ebedf0);
  background: var(--Grey-white, #fff);
  height: 2.4vh;
  width: 68%;
  margin-bottom: 2vh;
}
.hero-pw {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 98%;
  margin-bottom: 2vh;
}

.hero-pw svg {
  position: relative;
  left: -30px;
  top: -5px;
}

.hero-forgot-pw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero-forgot-pw .checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.hero-forgot-pw .checkbox input {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 1vw;
}

.hero-forgot-pw label {
  color: var(--Base-Black, var(--Black, #000));

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 30vw;
}

.hero-forgot-pw .forget {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.hero-forgot-pw .forget p {
  color: var(--Base-Black, var(--Black, #000));

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.hero-continue {
  display: flex;
  padding: 12px 172px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Base-Black, #000);
  width: 98%;
  color: var(--Base-Black, var(--Black, #000));

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  padding: 12px 8.2vw 12px 24px;
}

@media screen and (min-width: 360px) and (max-width: 900px) {
  .hero-container {
    height: auto;
    width: 98vw;
    flex-direction: column;
  }
  .hero-intro {
    height: auto;
    width: 90vw;
    flex-shrink: 1;
    margin: 1vh 5vw;
  }
  .hero-intro h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .hero-image {
    display: none;
  }

  .hero-signin {
    width: 80vw;
    background: var(--Purple-3, #f7f5f9);
  }
  .hero-signin .sign-join {
    width: 90vw;
    justify-content: space-evenly;
  }

  .hero-image-2 {
    display: flex;
    width: 85vw;
    height: auto;
    background: var(--Purple-3, #f7f5f9);
    margin-top: 0;
  }
  .hero-continue {
    width: 90%;
  }
  .hero-signin input {
    padding: 12px 55px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Grey-Lighter, #ebedf0);
    background: var(--Grey-white, #fff);
    height: 2.4vh;
    width: 68%;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 360px) {
  .hero-container {
    height: auto;
    width: 98vw;
    flex-direction: column;
  }
  .hero-intro {
    height: auto;
    width: 95vw;
    flex-shrink: 1;
    margin: 1vh 5vw;
  }
  .hero-intro h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .hero-intro p span,
  .hero-image {
    display: none;
  }

  .hero-signin {
    width: 90vw;
  }
  .hero-signin .sign-join {
    width: 90vw;
    justify-content: space-around;
  }

  .hero-image-2 {
    display: flex;
    width: 90vw;
    height: auto;
  }
}
