.nav-container {
  width: 100vw;
  /* height: 78%; */
  /* flex-shrink: 0; */
  /* background: #FFFFFF; */
  background: var(--Grey-white, #fff);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0 4vw; */
  /* position: fixed;
  top: 0; */
}

.nav-logo  {
  width: 28vw;
  height: 5.86vh;
  flex-shrink: 1;
margin-left:11.3vw ;
margin-right: 3.4vw;
}

.nav-searchBox {
  /* box-sizing: border-box; */
  width: 28.74vw;
  height: 4vh;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-Lighter);
  
  display: flex;
  /* justify-content: space-between;  */
  /* align-items: center;  */
}

.nav-input {
  color: #939ca3;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  width: 25vw;
  margin: 1.15%;
  /* height: 4vh; */
  flex:1;
  display:flex;
  border: none;
  
}

.nav-searchIcon{
  display: flex;
  /* flex: 1.5; */
  width: 3.74vw;
height: 4vh;
display:flex;
/* flex-shrink: 0; */

border-radius: 0rem 0.5rem 0.5rem 0rem;
background: var(--Primary-Full, #8064A2);
border: 1px solid var(--Primary-Full, #8064A2);
display: flex;
justify-content: center;
align-items: center;
}

.nav-searchBox svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.nav-icons {
  width: 45vw;
  height: 4%;
  
  flex-shrink: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:2vh 8.6vw;
}

.nav-icons svg {
  width: 2.3vw;
  height: 2.35%;
  flex-shrink: 0;
  /* padding: 0 2vw; */

}
.nav-icons .explore {
  /* width: 10.25vw; */
  /* height: 2.35%; */
  flex-shrink: 1;
  color: var(--Base-Black, var(--Black, #000));
  margin-right: 2vw;
  /* Text sm/Medium */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 157.143% */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}



.nav-icons .hobbies {
  /* width: 11vw; */
  height: 2.35%;
  margin-right: 2vw;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hobbies p {
  color: var(--Base-Black, var(--Black, #000));
  /* Text sm/Medium */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.15%; /* 157.143% */
}
.nav-icons .icon{
  margin-right: 2vw;
}
.nav-signin{
  width: 7.8vw;
  height: 4vh;
flex-shrink: 0.5;
border-radius: 8px;
border: 1px solid var(--Primary-Full, #8064A2);
background: var(--Grey-white, #FFF);
color: var(--Primary-Full, #8064A2);
margin-right: 4.5vw;

/* Text sm/Semibold */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 114.286% */
}
