.test-container {
  box-sizing: border-box;
  display: flex;
  width: 98.5vw;
  height: auto;
  padding: 10vh 10vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background: #fff;
}

.test-content {
  width: 83.3vw;
  height: 46vh;
  flex-shrink: 1;
  border-radius: 8px;
  background: var(--Purple-3, #f7f5f9);
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0.6em;
}

.test-content p {
  color: var(--Grey-Darker, #6d747a);
  
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.test-lower-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83vw;
}

.audio-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 10vh;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Purple-2, #ccc1da);
}

.audio-control .play {
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  border-radius: 50%;
}

.audio-control input {
  width: 35vw;
  height: 0.2em;
}

.audio-control .range {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-img .mic {
  height: 1em;
  width: 1em;
  position: relative;
  left: 0.65em;
  bottom: -0.65em;
}

.audio-img .logo {
  height: 2em;
  width: 2em;
}

.test-sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18vw;
}

.test-sign .picture {
  height: 3.4em;
}

.test-sign .sign {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  height: 10vh;
}

.test-sign .sign .name {
  color: var(--Primary-Full, #8064a2);
  
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 0;
  margin: 0;
}

.test-sign .sign .designation {
  color: var(--Blue-1, #0096c8);
  
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .test-content {
    height: auto;
    padding: 3vh;
  }
  .test-lower-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .test-sign {
    width: 60%;
    justify-content: space-around;
  }
  .audio-control {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .test-sign {
    width: 90%;
  }
  .test-sign .name {
    font-size: 0.9em;
  }
}
